@charset "utf-8";
/* base css */


/*/////////// base ////////////*/


/*/////////// contents layout ////////////*/


/*/////////// layout ////////////*/

.strong {
	color: $sub_color3;
}

.small {
	font-size: 12px;
}

.floatL {
	float: left;
}

.floatR {
	float: right;
}

@include spacing(10);
@include spacing(20);
@include spacing(30);
@include spacing(40);
@include spacing(50);

/*/////////// link ////////////*/


a{
     @include link_color($main_color);
     text-decoration: none;
}

a:link {
	color: $link_color;
}
a:visited {
	color: $link_color;
}
a:hover {
    color:$hover_color;
}

a:hover img{
  	opacity: 0.7;
}

/* not transparence

a:hover img{
  	opacity: 1;
}

*/

/*/////////// clear ////////////*/

.clear {
clear: both;
}

/* clearfix css */
.clearfix:after {
content: ".";
display: block;
clear: both;
height: 0;
visibility: hidden;
}
.clearfix {
min-height: 1px;
}
* html .clearfix {
height: 1px; /*¥*//*/
height: auto;
overflow: hidden; /**/
}

