@charset "utf-8";
/* common css */
$container_width: 940px;
$container_padding: 20px;
body{
	font-size: 14px;
	line-height: 1.5em;
	color: $text_color;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;	
	background : $bg_color none no-repeat 0 0 scroll;
}
/* reset */
h1,h2,h3,h4,h5,h6{
	margin : 0px;
	padding : 0px;
}

#wrapper.lg .container{
	max-width : $container_width + $container_padding;
	margin: 0 auto;
}
#wrapper.ie .container{
	width : ($container_width + 2*$container_padding); 
}

p{ margin : 0px; }

a:hover{text-decoration : none;}

@media screen and (max-width: $screen_xs_max) {
	#screen_type{ content : "xs"; }	
}
@media screen and (min-width: $screen_sm_min) and (max-width: $screen_sm_max) {
	#screen_type{ content : "sm"; }
}
@media screen and (min-width: $screen_md_min) and (max-width: $screen_md_max) {
	#screen_type{ content : "md"; }
}
@media screen and (min-width: $screen_lg_min) {
	#screen_type{ content : "lg"; }
}
/*---------------------------------------------------------------
RESPONSIVE LAYOUT
-----------------------------------------------------------------*/
/* header */

#wrapper{
	img{
		max-width: 100%;
	}
}

#top-header{
			 position: fixed;
			z-index: 100;
			width: 100%;
			background-color: #FFF;
		}

#top{	
	border-top: 3px solid $sub_color1;
	.top-text{
		line-height: 25px;
		color: $text_color;
		font-size: 14px;
	}		
}/*-- top --*/

header{	
	#header{
		padding: 15px 0;
		#headerContent{		
			.logo{
				float: left;				
				img{
					max-width: 100%;					
				}
			}
			.header-contact{
				float: right;
				padding-top: 10px;
				.headtxt{
					font-size: 11px;
					text-align: right;
				}
				.headtel{
					font-size: 24px;
					color: $sub_color1;
				}			

			}
			.fa{display: none;}

			@media screen and (max-width: $screen_xs_max) {
				.logo{
					float: none;					
				}
				.header-contact{
					display: none;
				}
				.fa{
					display: block !important;
					float: right;
					margin-top: 5px;
					padding-right: 20px;
					font-size: 30px;
					color: $sub_color1;
				}
			}
		}
	}
}/*-- header --*/

#slider-banner{	
	padding-top: 169px;
	text-align: center;	
}

#page-feature{
	padding-top: 169px;
	.page-feature-content{
		text-align: center;
		position: relative;
		.feature-title{
			position: absolute;
			font-size: 30px;
			text-shadow: 0 1px #333;
			color: $sub_color2;									
			top: -100px;
		}
	}	
}

#top-breadcrumb{
	line-height: 40px;
	.home{
		color: $sub_color1;
		text-decoration: underline;
	}
	a:hover{
		color: $sub_color1;
		text-decoration: none;
	}
}

.sub-navi-info{
	border-top: 1px solid #0182bd;
	background-color: $sub_color1;
	.sub-navi{	
		margin: 0 auto;
		ul{	
			float: left;
			list-style: none;
			margin : 0px;
			padding : 0px;
			li{
				float : left;											
				background: $sub_color1 url("../img/common/subnavi_line.jpg") 0 0 no-repeat;		
				background-position: 0;
				a{
					display: block;
					padding: 25px 0;
					color: $sub_color2;				
					text-align: center;
					font-size: 16px;					
				}				
			}			
			> li:hover{
				> a{			
					margin-left: 1px;
					color: $sub_color2;
					background-color: #0090d1;
				}
			}
			
			> li{
				> a.linksub-current{		
					margin-left: 1px;
					color: $sub_color2;
					background-color: #0090d1;
				}
			}
		
		}
		.sub-navi-space{
			float: left;
			line-height: 71px;
		}
	}
}

$container_width_subnavi: 939px;
@media (min-width: 700px) and (max-width: 769px)  {
		#wrapper.xs .sub-navi ul{
			margin: 0 auto !important;
		}
		.sub-navi ul li{width: 170px !important;}
}
@media (min-width: 620px) and (max-width: 700px)  {
		#wrapper.xs .sub-navi ul{
			margin: 0 auto !important;
		}
		.sub-navi ul li{width: 150px !important;}
}
@media (min-width: 560px) and (max-width: 620px)  {
		#wrapper.xs .sub-navi ul{
			margin: 0 auto !important;
		}
		.sub-navi ul li{width: 135px !important;}
}

@media (min-width: 483px) and (max-width: 560px)  {
		#wrapper.xs .sub-navi ul{
			margin: 0 auto !important;
		}
		.sub-navi ul li{width: 115px !important;}
}

@media (min-width: 423px) and (max-width: 483px)  {
		#wrapper.xs .sub-navi ul{
			margin: 0 auto !important;
		}
		.sub-navi ul li{
			width: 100px !important;
			a{font-size: 12px;}
		}
}

@media (min-width: 382px) and (max-width: 423px)  {
		#wrapper.xs .sub-navi ul{
			margin: 0 auto !important;
		}
		.sub-navi ul li{
			width: 90px !important;			
		}
		.sub-navi ul li a{font-size: 10px !important;}
}

@media (min-width: 320px) and (max-width: 374px)  {
		#wrapper.xs .sub-navi ul{
			margin: 0 auto !important;
		}
		.sub-navi ul li{
			width: 73px !important;			
		}
		.sub-navi ul li a{font-size: 10px !important;}
}

@media (min-width: 375px) and (max-width: 383px)  {
		#wrapper.xs .sub-navi ul{
			margin: 0 auto !important;
		}
		.sub-navi ul li{
			width: 87px !important;			
		}
		.sub-navi ul li a{font-size: 10px !important;}
}


@media screen and (min-width: 768px)  {
		.sub-navi ul{
			margin: 0 auto !important;
		}
		.sub-navi ul li{	width : 179px; }
}

@media screen and (min-width: 992px){
		.sub-navi ul{
			margin: 0 auto !important;
		}
		.sub-navi ul li{ width : 234px; }		
}

@media screen and (min-width: 1200px)  {
		.sub-navi ul{
			margin: 0 auto !important;
		}
		.sub-navi ul li{	width : 234px; }
}

#wrapper.lg, #wrapper.ie, #wrapper.md, #wrapper.sm, #wrapper.xs{	
	#menu-toggle{
		position: fixed;
	    z-index: 100;
		width: 100%;
		background-color: #FFF;
	}
	.globalNavi-bg{	
		border-bottom: 3px solid $sub_color1;
		padding-bottom: 15px;
		.globalNavi{				
			margin: 0 auto;
			ul{
				list-style: none;
				margin : 0px;
				padding : 0px;
				li{
					float : left;					
					position : relative;
					border-left: 1px dotted $text_color;
					a{
						display: block;
						padding: 10px;
						color: $text_color;
						background: url("../img/top/top_nav_off.png") right bottom no-repeat;
						text-align: center;
						font:{
							size: 16px;
							weight: bold;
						}
					}				
					ul{
						background : $sub_color2 none no-repeat 0 0 scroll;
					}
				}
				> li:hover{
					> a{					
						color: $sub_color2;
						background: url("../img/top/top_nav_on.png") right bottom no-repeat $sub_color1;						
					}			
				}
				> li {	
					> a.link-current{
						color: $sub_color2;
						background: url("../img/top/top_nav_on.png") right bottom no-repeat $sub_color1;	
					}
				}
				li:last-child{
					border-right: 1px dotted $text_color;
				}
				ul{					
					z-index: 100;
					position : absolute;
					top : 41px;
					display: none;
					li{	
						border-left: none;
						a{
							border-bottom: 1px dotted $text_color;
							text-align: left;							
							font:{
								size: 14px;
								weight: normal;
							}
						}
					}
					li:last-child{
						border-right: none;
					}
					li:first-child{
						border-top: 1px solid #ccc;
					}
				}
				li:hover{
					ul{ display : block; }
				}
			}
		}
	}/* globalNavi */	
}

@media screen and (min-width: 1200px)  {
		.globalNavi ul{
			margin: 0 auto !important;
		}
		.globalNavi ul li{	width : 188px; }
}
#wrapper.ie .globalNavi ul li{ width : $container_width/5; }

@media screen and (max-width: 768px)  {
		.globalNavi ul{
			margin: 0 auto !important;
		}
		.globalNavi ul li{	width : 145px; }
}


@media screen and (min-width: 768px)  {
		.globalNavi ul{
			margin: 0 auto !important;
		}
		.globalNavi ul li{	width : 143px; }
}

@media screen and (min-width: 992px){
		.globalNavi ul{
			margin: 0 auto !important;
		}
		.globalNavi ul li{ width : 188px; }		
}


#wrapper.ie .toggle-btn-wrap, #wrapper.lg .toggle-btn-wrap, #wrapper.md .toggle-btn-wrap, #wrapper.sm .toggle-btn-wrap{
	display : none;
}


#content{
	background : $bg_color none no-repeat 0 0 scroll;			
	margin: 20px 0 30px;
	#primary{		
		.primary-row{
			margin-top: 40px;
			.primary-row{
				margin-top: 20px;
			}			
		}
		.primary-row:first-child{
			margin-top: 0px;
		}		
			
		.top-main1{			
			border: 1px solid $border_color;
			height: 280px !important;
			.top-main1-title{
				line-height: 40px;
				background-color: $sub_color1;
				font-size: 20px;
				color: $sub_color2;
				text-align: center;
			}
			.top-main1-img{
				text-align: center;
				padding: 5px;
			}
			.top-main1-text{
				text-align: center;
				padding-bottom: 15px;
			}
		}
		
		.top-status{	
			line-height: 1.5em;
			color: $sub_color1;			
			text-align: center;
			font:{
				size: 30px;
				weight: bold;
			}
		}
		
		.top-main2{
			.top-main2-title{
				text-shadow: 0 1px #ffffff;
				box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);								
				margin-bottom: 20px;
				padding: 15px;
				background-color: #f4f4f4;
				border-left: 3px solid $sub_color1;
				font:{
					size: 18px;
					weight: bold;
				}
			}
		}
		
		.top-main2-content{
			border-top: 1px dotted #7f7f7f;
			padding-top: 20px;
		}
		
		.top-blog{
			text-align: left;
			list-style: none;
			margin: 0 10px;
			padding: 0;
			li{
				border-bottom: 1px solid #e3e1d7;	
				border-top: 1px solid #e3e1d7;
				display: block;
				height: 70px;
				padding-top: 25px;	
				.top-blog-date{
					color: #e28414;
					font-weight: bold;
					margin-left: -10px;
				}
				.fa{
					margin-top: -29px;
					margin-right: 10px;
					float: right;
					font-size: 30px;
				}
			}	
		}
		.top-more-blog a{
			float: right;
			text-align: center;
			margin-top: 15px;
			display: inline-block;	
			font-size: 11px;
			line-height: 105%;	
			background: url("../img/top/top_blog_off.png") right bottom no-repeat #efefef;	
			border-left: 4px solid $sub_color1;
			padding: 5px 15px 5px 11px;
			box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
		}
		.top-more-blog a:hover{
			color: $sub_color2; 	 
			background: url("..img/top/top_blog_on.png") right bottom no-repeat #666; 
		}

		.top-h2{
			text-shadow: 0 1px $sub_color2;			
			border-top: 1px solid #e5e5e5;
			border-bottom: 3px solid $sub_color1;
			box-shadow: 0px 1px 3px rgba(0,0,0,0.20);
			padding: 15px;
			margin-bottom: 20px;
			font:{
				size: 18px;
				weight: bold;
			}
			.top-rss a{	
				float: right;
				text-align: center;
				border: 1px solid #e6e6e6;
				font-family: 'Lato', sans-serif;  
				padding: 2px 8px;
				box-shadow: inset 0 1px 0px rgba(255,255,255,1);
				background: linear-gradient(to bottom, #fcfcfc, #efefef); /* IE10, Firefox 16.0+, Opera 12.50+ */
				background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fcfcfc), to(#efefef));
				background: -moz-linear-gradient(#fcfcfc, #efefef);
				background: linear-gradient(#fcfcfc, #efefef);
				-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fcfcfc, EndColorStr=#efefef)";				
			}
			.top-rss a:hover{
				color: $text_color;
				box-shadow: inset 0 1px 0px rgba(255,255,255,1);
				background: linear-gradient(to bottom, #fcfcfc, #d5e9cc); /* IE10, Firefox 16.0+, Opera 12.50+ */
				background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fcfcfc), to(#d5e9cc));
				background: -moz-linear-gradient(#fcfcfc, #d5e9cc);
				background: linear-gradient(#fcfcfc, #d5e9cc);
				-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fcfcfc, EndColorStr=#d5e9cc)";
			}
		}
		
		.h3-title{
			text-shadow: 0 1px $sub_color2;			
			border-top: 1px solid #e5e5e5;
			border-bottom: 3px solid $sub_color1;
			box-shadow: 0px 1px 3px rgba(0,0,0,0.20);
			padding: 15px;
			margin-bottom: 20px;
			font:{
				size: 18px;
				weight: bold;
			}
		}
		.top-main3{
			background: url("../img/top/top_main3_img.jpg") repeat-x 50% 0;
			height: 450px;
			text-align: center;
			color: $sub_color2;
			.top-main3-content{
				height: 450px;
				background-color: rgba(51,51,51,0.6);
				.top-main3-title{
					padding-top: 180px;
					font-size: 30px;
				}
				.top-main3-text{
					padding-top: 40px;
				}
			}			
		}
		
		.top-main4{
			margin: 0px auto;
			background: url("../img/top/top_main4_bg.jpg") 0 0 no-repeat;
			height: 400px;
			background-size: cover;
			text-align: center;
			color: $sub_color2;
			.top-main4-title{
				padding-top: 60px;
				font-size: 30px;
			}
			.top-main4-text{
				padding: 20px 0 30px;
			}
			img {
				padding:0px;
				border-top:6px solid rgba(0,0,0,0.6);
				border-bottom:6px solid rgba(0,0,0,0.6);
				border-right:3px solid rgba(0,0,0,0.6);
				border-left:3px solid rgba(0,0,0,0.6);
				width: 240px;
				height: 160px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				-o-box-sizing: border-box;
				-ms-box-sizing: border-box;
				box-sizing: border-box;
				overflow: hidden;
			}
		}						
			
		.top-redmore{
			float: right;
			padding: 5px 8px;
			@include border_radius(5px);
			border: 1px solid #ccc;									
		}	
		
		.wpcf7 input, 
		.wpcf7 select,
		.wpcf7 textarea{    
			width: 100%;						   
		}
		.wpcf7c-btn-confirm{
			width: 50% !important;
		}
		.wpcf7-submit, .wpcf7c-btn-back{
			width: 45% !important;
		}			
    }		
}/* end content */

#wrapper.lg, #wrapper.md{
	.top-blog{		
		li{			
			padding-top: 25px !important;	
		}
	}
}

#wrapper.sm,#wrapper.xs {	
	.top-blog{		
		li{			
			padding-top: 15px !important;	
			.top-blog-date{
				color: #e28414;
				font-weight: bold;
				margin-left: -10px;
			}
			.top-blog-title{
				margin-left: -10px;
			}
			.fa{
				margin-top: -40px !important;
				margin-right: 10px;
				float: right;
				font-size: 30px;
			}
		}	
	}
}

#wrapper.md,#wrapper.sm,#wrapper.xs {
	/*-------  top-page ------*/
	.top-main4{
		margin: 0px auto;
		background: url("../img/top/top_main4_bg.jpg") 0 0 no-repeat;
		height: 240px !important;
		background-size: cover;
		text-align: justify;
		color: $sub_color2;
		.top-main4-title{
			padding-top: 15px !important;
			font-size: 16px !important;
		}
		.top-main4-text{
			padding: 10px 0 5px !important;
		}
		.top-main-slider{
			margin: 0 auto;
		}
		img {
			padding:0px;
			border-top:6px solid rgba(0,0,0,0.6);
			border-bottom:6px solid rgba(0,0,0,0.6);
			border-right:3px solid rgba(0,0,0,0.6);
			border-left:3px solid rgba(0,0,0,0.6);
			width: 140px !important;
			height: 93px !important;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-o-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			overflow: hidden;
		}
	}		
	
	
	.top-main3{
		background: url("../img/top/top_main3_img_sm.jpg") no-repeat 0 0 scroll !important;
		height: 254px !important;
		background-size: cover !important;						
		color: $sub_color2;
		.top-main3-content{
			height: 254px !important;
			background-color: rgba(51,51,51,0.6);
			.top-main3-title{
				text-align: center;
				padding-top: 20px !important;
				font-size: 18px !important;
			}
			.top-main3-text{
				text-align: justify !important;
				padding-top: 15px !important;
				font-size: 13px !important;
			}
		}			
	}
	
	/*-------  pallet-page  ------*/
	.pallet-main1{		
		.pallet-main1-text1{
			text-align: center;
			color: $sub_color1;
			font:{
				size: 16px;
				weight: bold;
			}
		}
		.pallet-main1-text2{
			@extend .pallet-main1-text1;
			padding-top: 10px;
			font:{
				size: 24px;
				weight: bold;
			}
		}
		.pallet-main1-text3{
			text-align: center;
			padding: 20px 0 10px
		}
	}
	.pallet-title{
		text-align: center;
		padding-bottom: 20px;
		border-bottom: 1px dotted #7f7f7f;
		color: $sub_color1;
		margin-bottom: 20px;
		font:{
			size: 24px;
			weight: bold;
		}
	}	
	
	
	/*-------  pladan-page  ------*/
	.pladan-main1{		
		.pladan-main1-text1{
			text-align: center;
			color: $sub_color1;
			font:{
				size: 16px;
				weight: bold;
			}
		}
		.pladan-main1-text2{
			@extend .pladan-main1-text1;
			padding-top: 10px;
			font:{
				size: 24px;
				weight: bold;
			}
		}
		.pladan-main1-text3{
			text-align: center;
			padding: 20px 0 10px
		}
	}
	.pladan-title{
		text-align: center;
		padding-bottom: 20px;
		border-bottom: 1px dotted #7f7f7f;
		color: $sub_color1;
		margin-bottom: 20px;
		font:{
			size: 24px;
			weight: bold;
		}
	}
	
	/*-------  strength-page  ------*/
	.strength-content1-bg{
		padding: 40px 0 20px;
	}
	.strength-title{
		text-align: center;
		padding-bottom: 20px;
		border-bottom: 1px dotted #7f7f7f;
		color: $sub_color1;
		margin-bottom: 20px;
		line-height: 1.5em;
		font:{
			size: 24px;
			weight: bold;
		}
	}
	
	/*-------  greeting-page  ------*/
	.greeting-content{
		.greeting-content-title{
			font-size: 24px;
		}
	}
	
	/*-------  workshop-page  ------*/
	.workshop-main1 .workshop-main1-title,.workshop-slider-title{
		text-align: center;
		padding-bottom: 20px;
		border-bottom: 1px dotted #7f7f7f;
		color: $sub_color1;
		margin-bottom: 20px;
		font:{
			size: 24px;
			weight: bold;
		}
	}	
}

#wrapper.md, #wrapper.sm{	
	#page-feature{
		padding-top: 169px;
		.page-feature-content{
			position: relative;
			.feature-title{
				position: absolute;
				font-size: 25px;
				text-shadow: 0 1px #333;
				color: $sub_color2;									
				top: -65px !important;
			}
		}	
	}
	#content{		
		#primary{
			img{ max-width : 100%; }			
			.primary-row:first-child{
				margin-top: 0px;
			}
			.top-status{
				font-size: 20px !important;
			}
			.company-table-content{				
				tr th{
					width: 20% !important;				
				}			
			}
			.message-row{			
				.message-col{
					text-align: center;					
					float:left;
					margin-bottom: 20px;												
				}								
			}				
		}		
	}
}

#wrapper.xs {
	#page-feature{		
		.page-feature-content{
			position: relative;
			.feature-title{
				position: absolute;
				font-size: 18px;
				text-shadow: 0 1px #333;
				color: $sub_color2;									
				top: -45px;
			}
		}	
	}	
	#content {
		#primary{
			img{
				max-width: 100%;
			}						
			.primary-row:first-child{
				margin-top: 0px;
			}
			.top-status{
				font-size: 15px !important;
			}
			.message-row{			
				.message-col{
					text-align: center;					
					float:left;
					margin-bottom: 20px;												
				}								
			}											
		}		
	}
}

#footer{	
	background-color: $sub_color1;
	padding: 20px 0;
	color: $sub_color2;
	text-align: center;
	.footer-title{	
		font:{
			size: 20px;
			weight: bold;
		}
	}
	.footer-info{
		margin-top: 20px;
		line-height: 1.5em;		
	}
}
/*------------------------------------*\
    Flaunt JS Navigation
\*------------------------------------*/

.nav {
	position:relative;
	display:inline-block;
	font:{
		size: 16px;
		weight: bold;
	}
}
.nav-list {
	text-align:left;
	list-style: none;
	margin: 0;
	padding: 0;	
	margin-top: 10px;
	border-top: 2px solid $sub_color1;
}
.nav-item {
	float:left;
	*display:inline;
	zoom:1;
	position:relative;	
	background: $sub_color2;
}

.nav-item a {
	color: $text_color;
	display:block;	
	padding: 10px;	
	border-bottom:1px dotted $text_color;
	background: url("../img/top/top_nav_off.png") right bottom no-repeat;	
}
.nav-item > a:hover {	
	color: $sub_color2;
	background: url("../img/top/top_nav_on.png") right bottom no-repeat $sub_color1;												
}
.nav-item:hover .nav-submenu {
	display:block;
}
/* Navigation submenu */
.nav-submenu {
	list-style: none;
	display:none;
	position:absolute;
	left:0;
	width:180px;
}
.nav-submenu-item {
	background: $sub_color2;
}
.nav-submenu-item a {
	color: $text_color;
	display:block;	
	padding-left: 30px;	
	background: url("../img/top/top_nav_off.png") right bottom no-repeat;		
	border-bottom: none;
}
.nav-submenu-item a:hover {
	background: url("../img/top/top_nav_on.png") right bottom no-repeat $sub_color1;												
	color: $sub_color2;
}
li.nav-submenu-item:last-child{
	border-bottom: 1px dotted $text_color;
}
/* Mobile navigation */
.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
	cursor:pointer;
	position:absolute;
	top:-38px;
	right:10px;
	background: $sub_color1 url(../img/common/nav.svg) no-repeat center center;	
	background-size:18px;
	height: 35px;
	width: 35px;
	@include border_radius(5px);
}
/* Mobile navigation, clickable area for revealing <ul> */
.nav-click {
	position:absolute;
	top:0;
	right:0;
	display:none;	
	height:41px;
	width:41px;
	cursor:pointer;
	background-color: $sub_color1;
}
.nav-click i {
	display:block;
	height:41px;
	width:41px;
	background:url("../img/common/drop.svg") no-repeat center center;
	background-size: 12px;
}
.nav-click:hover {
	background-color: $sub_color1;
}
.nav-rotate {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}

.nav-itemclr{background-color: $sub_color1;}
.nav-itemclr-a{
	color: $sub_color2 !important;
	cursor: pointer;
}

#right-menu {
	display: none;
}

/*------------------------------------*\
    Media Queries
\*------------------------------------*/
	
@media only screen and (max-width: 768px){
	.top-main1{
		margin-bottom: 20px;
	}
	#top-header{
		position: relative;  
	}
	#slider-banner, #page-feature{
		padding-top: 0!important;
	}
	.top-main2-infotext,.strength-top-infotext{
		width: 100%;
		text-align: left;
		margin-bottom: 20px;
	}
	.top-main2-infoimg ,.strength-top-infoimg{ 
		width: 100%;
		text-align: center;
	}
		
	.quality-content1-text,.quality-content3-text{
		width: 100%;
		text-align: left;		
	}
	
	.quality-content1-img,.quality-content3-img{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	
	
	/*----- page-pallet ----*/	
	.pallet-main2-sm{
		width: 100%;
		.pallet-main2{
			.pallet-main2-point{
				min-width: 100% !important;			
			}
			.pallet-main2-title{
				width: 100%;
			}
			.pallet-main2-text{
				width: 100%;
			}
		}
	}	
	.pallet-main3-sm{
		width: 100%;
		.pallet-main3{
			.pallet-main3-img{
				min-width: 100%;	
			}
			.pallet-main3-title{
				width: 100%;
			}
			.pallet-main3-text{		
				width: 100%;
			}
		}
	}	
	/*----- page-pladan ----*/	
	.pladan-main2{
		width: 100%;
		.pladan-main2-point{
			width: 15% !important;					
			margin-bottom: 10px;
		}
		.pladan-main2-text{
			width: 100%;
			padding-left: 0 !important;
		}
	}
		
	.pladan-main3-sm{
		width: 100%;
		.pallet-main3{
			.pallet-main3-img{
				min-width: 100%;	
			}
			.pallet-main3-title{
				width: 100%;
			}
			.pallet-main3-text{		
				width: 100%;
			}
		}
	}
	
	/*----- page-pladan ----*/	
	.strength-content1-sm{
		width: 100%;
		.strength-content1{
			.strength-content1-img{
				min-width: 100%;	
			}
			.strength-content1-title{
				width: 100%;
			}
			.strength-content1-text{		
				width: 100%;
			}
		}
	}
	
	
	/*----- page-company ----*/	
	.company-table-content{		
		width : 100%;
		tr{	
			th,td{
				border-top: none !important;			
				text-align: left;
				display: block;
			}
		}
		tr th{
			width: 100% !important;				
		}
		tr:first-child th{
			border-top: 1px solid #ddd !important;	
		}		
	}	
}

@media only screen and (min-width: 768px) {			
	#top-mobile{
		display: none;
	}
}
@media all and (max-width: 768px){	
	nav #menu-toggle{
		display: none;
	}	
	.top{
		display: none;
	}	
}
@media all and (min-width: 768px){	
	.nav{	
		display: none;
	}
	.top{
		display: none;
	}		
}
@media only screen and (max-width: 768px) {		
	#right-menu {
		display: block;
		float: right;
	}
	nav #menu-toggle{
		display: none;
	}
	#top{
		display: none;	
	}		
	.nav-mobile {
		display: block;
	}
	.nav {
		float: right;		
		width:100%;		
	}
	.nav-list {
		display:none;	
		padding-left: 0;
	}
	.nav-item {
		width:100%;
		float:none;
	}
	.nav-item > a {
		padding: 10px;
	}
	.nav-click {
		display:block;
	}
	.nav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
	.nav-item:hover .nav-submenu {
		display:none;
	}
	.nav-submenu {
		position:static;
		width:100%;
		padding-left: 0;
	}
}
@media only screen and (max-width: 500px){	
	.top-main1{			
		.top-main1-title{
			font-size: 15px !important;
		}
	}
	#page-feature{		
		.page-feature-content{
			position: relative;
			.feature-title{
				position: absolute;
				font-size: 15px !important;
				text-shadow: 0 1px #333;
				color: $sub_color2;									
				top: -30px !important;
			}
		}	
	}
}