@charset "UTF-8";
/* CSS Document */

@import '_vars';
@import '_base';


/*/////////// front-page ////////////*/


/*/////////// flow-page ////////////*/
.flow_steps_bg{
	background : transparent url("../img/under/flow_steps_bg.jpg") no-repeat 0 0 scroll;
	height : 250px;	
	padding : 60px 20px 0px;
	p{
		margin-bottom: 15px;	
	}
	ul{
		list-style: none;
		float : right;
		li{			
			display: inline;
		}
	}
}
/*/////////// company-page ////////////*/
.company-text{
	text-align: justify;
}
.company-table-content{
	margin-bottom: 40px;	
	border-collapse : collapsed;
	width : 100%;
	tr{	
		th,td{
			padding: 10px;
			border : 1px solid #ddd;
			text-align: left;
		}
	}
	tr th{
		width: 15%;	
		background-color: #f4f4f4;
		font-weight: normal;
	}
}


/*/////////// faq-page ////////////*/
#faq1{
	.faq1-content{
		padding : 0px 20px;
		.faq1-row{
			.faq1-row-content{ padding : 0px 0px 30px 20px;}
		}
	}
}
/*/////////// contact-page ////////////*/
.contact-content{	
	background-color: #E8EEF9;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	font-size: 15px;
	line-height: 40px;
	margin-bottom: 20px;
	cursor: pointer;
	.contact-title{
		color: #595858;
		.contact-alert{
			padding: 5px;
			background-color: #ff8080;
			color: $sub_color2;
			margin: 5px;
			font-weight: normal;
		}
	}
}
.contact-content:last-child{
	margin-top: 0;
}
.contact-content:hover{
	background-color: #FFEEEE;
}

/* wpcf7 */
.wpcf7 {
	input, select, textarea{
		background-color: #f9f9f9;	
		border: 1px solid #ccc;
		padding: 5px 10px;
		margin: 5px 5px 5px 0;
		font-size: 15px;
		line-height: normal;
	}
	
	.wpcf7-validation-errors,.wpcf7-not-valid-tip{
		  color: #fff;
		  padding: 8px 12px 6px;
		  position: relative;
		  display: block;
		  background-color: #f00;		  
		  left: 0;
		  top: 8px;
		  margin-bottom: 8px;
		  clear: both;
		  border-radius: 5px;
		  border: none;
	}
		
	.require {
	color:#F66;
	}
	.contact-btn{
		text-align: center;
		margin: 20px 0;
	}
	.wpcf7-confirm{		
		background-color: #00a0e9;
		border-radius: 3px;		 
		display: inline-block;
		cursor: pointer;
		color: #ffffff;
		font-family: arial;
		font-size: 18px;		
		padding: 10px 0;
		text-shadow: 0px 1px 0px #154682;
	}	
	table{
	font-size: 13px;
	width: 100%;
	margin: 20px auto 0 auto;
	border: 1px solid $border_color;
		input{
			margin : 3px 0px;
			font-size: 13px;
			line-height: 13px;
		}
		tr th, td{
			border: 1px solid $border_color;
		}
		th{
		max-width: 100%;		
		text-align: left;
		background: #eee;
		padding:10px;
		vertical-align:middle;
		}

		td{
		padding:10px;		
		vertical-align:middle;		
		}
	}
}

/*-----  page-blog  ----*/
	.post-row-content{	
		.blog-btnrm{			
			float: right;							
			a{
				padding: 5px 8px;
				@include border_radius(5px);
				background-color: $main_color;
				color: $bg_color;
			}
			a:hover{
				padding: 5px 8px;
				@include border_radius(5px);
				background-color: #fff;
				color: $main_color;
				border: 1px solid $main_color;
			}
		}		
		.post-row-meta{
			.fa{
				padding: 0 5px 0 20px;
			}
			.fa:first-child{
				padding-right: 5px;
				padding-left: 0;
			}
			.blog-category{
				a{color: $main_color;}
			}
		}
		.blog-content{
			margin-top: 5px;
		}
	}
	.navigation{
		margin-top: 15px;
		a{color: $main_color;}
		a:hover{color: $link_color;}
	}
	.wp-pagenavi{
		margin-top: 40px;		
		text-align: center;
		.pages{
			background-color: $main_color;
			color: #fff;
			
		}
		.previouspostslink{
			@extend .pages;
		}
		.page{
			@extend .pages;
		}
		.nextpostslink{
			@extend .pages;
		}	
		span.current {
			border-color: $main_color !important;
		}
	}	
	
/*/////////// pallet-page ////////////*/
.pallet-main1{
	.pallet-main1-img{
		text-align: center;
		margin-bottom: 20px;
	}
	.pallet-main1-text1{
		text-align: center;
		color: $sub_color1;
		font:{
			size: 28px;
			weight: bold;
		}
	}
	.pallet-main1-text2{
		@extend .pallet-main1-text1;
		padding-top: 30px;
		font-size: 48px;
	}
	.pallet-main1-text3{
		text-align: center;
		padding: 35px 0 20px;
		line-height: 1.8em;
	}
}

.pallet-title{
	text-align: center;
	padding-bottom: 40px;
	border-bottom: 1px dotted #7f7f7f;
	color: $sub_color1;
	margin-bottom: 20px;
	font:{
		size: 30px;
		weight: bold;
	}
}

.pallet-main2{
	.pallet-main2-point{
		color: $sub_color1;
		display: inline-block;
		padding-right: 20px;
		font-size: 25px;
		border-bottom: 2px solid $sub_color1;
		font-family: 'Share Tech Mono';
		margin-bottom: 10px;
	}
	.pallet-main2-title{
		text-align: left;
		padding: 5px 0 10px;
		font:{
			size: 20px;
			weight: bold;
		}
	}
	.pallet-main2-text{
		line-height: 1.8em;
		text-align: left;
		margin-bottom: 20px;
		padding: 0px 5px;
	}
}

.pallet-main3{
	.pallet-main3-img{
		text-align: center;
	}
	.pallet-main3-title{
		text-align: center;
		text-shadow: 0 1px $sub_color2;
		padding: 0 5px;
		margin: 10px 0;
		color: $sub_color1;		  
		font-size: 16px;		  
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		line-height: 29px;
	}
	.pallet-main3-text{		
		line-height: 1.8em;
		text-align: center;
		margin-bottom: 20px;
		padding: 0px 5px;
	}
}


/*/////////// pladan-page ////////////*/
.pladan-main1{
	.pladan-main1-img{
		text-align: center;
		margin-bottom: 20px;
	}
	.pladan-main1-text1{
		text-align: center;
		color: $sub_color1;
		font:{
			size: 28px;
			weight: bold;
		}
	}
	.pladan-main1-text2{
		@extend .pladan-main1-text1;
		padding-top: 30px;
		font-size: 48px;
	}
	.pladan-main1-text3{
		text-align: center;
		padding: 35px 0 20px;
		line-height: 1.8em;
	}
}

.pladan-title{
	text-align: center;
	padding-bottom: 40px;
	border-bottom: 1px dotted #7f7f7f;
	color: $sub_color1;
	margin-bottom: 20px;
	font:{
		size: 30px;
		weight: bold;
	}
}

.pladan-main2{	
	margin-left: 0;
	margin-bottom: 30px;
	.pladan-main2-point{
		color: $sub_color1;
		display: inline-block;		
		font-size: 25px;
		border-bottom: 2px solid $sub_color1;
		font-family: 'Share Tech Mono';		
		padding-left: 0px !important;
	}
	.pladan-main2-text{		
		padding-left: 20px !important;
		font-size: 20px;
	}
}
		
.pladan-main3{
	.pladan-main3-img{
		text-align: center;
	}
	.pladan-main3-title{
		text-align: center;
		text-shadow: 0 1px $sub_color2;
		padding: 0 5px;
		margin: 10px 0;
		color: $sub_color1;		  
		font-size: 16px;		  
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		line-height: 29px;
	}
	.pladan-main3-text{		
		line-height: 1.8em;
		text-align: center;
		margin-bottom: 20px;
		padding: 0px 5px;
		font-size: 12px;
	}
}


/*/////////// workshop-page ////////////*/
.workshop-main1{
	.workshop-main1-img{
		text-align: center;
		margin-bottom: 20px;
	}	
	.workshop-main1-title{
		text-align: center;
		color: $sub_color1;
		padding-top: 20px;
		font:{
			size: 48px;
			weight: bold;
		}
	}
	.workshop-main1-text1{
		text-align: center;
		padding-top: 30px;
		line-height: 1.8em;
	}
}
.workshop-title1{
	color: $sub_color1;
	font-size: 30px;
	margin-bottom: 25px;
}
.workshop-text1,.workshop-text2{
	line-height: 1.8em;
	margin-bottom: 20px;
}
.workshop-title2{
	padding: 8px 0;
	text-shadow: 0 1px $sub_color2;	
	color: $sub_color1;	
	font-size: 16px;
	margin: 10px 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;	
}

.workshop-slider-title{
	text-align: center;
	padding-bottom: 40px;
	border-bottom: 1px dotted #7f7f7f;
	color: $sub_color1;
	margin-bottom: 20px;
	font:{
		size: 30px;
		weight: bold;
	}
}
.workshop-slider img{padding: 5px;}
.workshop-map{	
	margin-top: 40px;
}


/*/////////// strength-page ////////////*/
.strength-title{
	text-align: center;
	padding-bottom: 40px;
	border-bottom: 1px dotted #7f7f7f;
	color: $sub_color1;
	margin-bottom: 20px;
	line-height: 1.8em;
	font:{
		size: 30px;
		weight: bold;
	}
}

.strength-top-content{	
	margin-bottom: 30px;
	.strength-info{
		.strength-top-title{
			text-shadow: 0 1px #ffffff;
			box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);								
			margin-bottom: 20px;
			padding: 15px;
			background-color: #f4f4f4;
			border-left: 3px solid $sub_color1;
			font:{
				size: 18px;
				weight: bold;
			}
		}
	}
}

.strength-content1-bg{
	background-color: #f0efef;
	padding: 70px 0 40px;	
}

.strength-content1{	
	.strength-content1-img{
		text-align: center;
	}
	.strength-content1-title{
		text-shadow: 0 1px #ffffff;
		box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
		margin: 20px 0;
		padding: 15px;
		background-color: #f4f4f4;
		border-left: 3px solid #00a0e9;
		font-size: 18px;
		font-weight: bold;
	}
	.strength-content1-text{		
		line-height: 1.8em;
		text-align: justify;
		margin-bottom: 20px;
		padding: 0px 5px;
		font-size: 12px;
	}
}

.strength-content2{
	margin-top: 30px;
}

.strength-content3{
	margin-bottom: 30px;
}

.strength-content2-text,.strength-content3-text{
	text-align: center;
	line-height: 1.8em;
	padding-bottom: 20px;
}
.strength-content2-img,.strength-content3-img{
	padding-bottom: 20px;
	text-align: center;
}

/*/////////// greeting-page ////////////*/
.greeting-content{
	.greeting-content-title{
		color: $sub_color1;
		font-weight: bold;
	    text-align: center;
	    font-size: 48px;	
		margin-bottom: 20px;
	}
	.greeting-content-text{
		text-align: center;
		line-height: 1.8em;
	}
}

/*/////////// history-page ////////////*/
.history-table-content{
	@extend .company-table-content;
}

/*/////////// quality-page ////////////*/
.quality-content2{
	margin: 10px 0;
	line-height: 1.8em;
}
.quality-content3-text{
	.quality-content3-text-space{
		padding-top: 20px;
		line-height: 1.8em;
	}
}

@import '_common';
