@charset "UTF-8";
/* CSS Document */
/* base css */
/*/////////// base ////////////*/
/*/////////// contents layout ////////////*/
/*/////////// layout ////////////*/
.strong {
  color: #da0000; }

.small {
  font-size: 12px; }

.floatL {
  float: left; }

.floatR {
  float: right; }

.pt10, .pv10,
.pa10 {
  padding-top: 10px; }

.pr10, .ph10,
.pa10 {
  padding-right: 10px; }

.pb10, .pv10,
.pa10 {
  padding-bottom: 10px; }

.pl10, .ph10,
.pa10 {
  padding-left: 10px; }

.mt10, .mv10,
.ma10 {
  margin-top: 10px; }

.mr10, .mh10,
.ma10 {
  margin-right: 10px; }

.mb10, .mv10,
.ma10 {
  margin-bottom: 10px; }

.ml10, .mh10,
.ma10 {
  margin-left: 10px; }

.pt20, .pv20,
.pa20 {
  padding-top: 20px; }

.pr20, .ph20,
.pa20 {
  padding-right: 20px; }

.pb20, .pv20,
.pa20 {
  padding-bottom: 20px; }

.pl20, .ph20,
.pa20 {
  padding-left: 20px; }

.mt20, .mv20,
.ma20 {
  margin-top: 20px; }

.mr20, .mh20,
.ma20 {
  margin-right: 20px; }

.mb20, .mv20,
.ma20 {
  margin-bottom: 20px; }

.ml20, .mh20,
.ma20 {
  margin-left: 20px; }

.pt30, .pv30,
.pa30 {
  padding-top: 30px; }

.pr30, .ph30,
.pa30 {
  padding-right: 30px; }

.pb30, .pv30,
.pa30 {
  padding-bottom: 30px; }

.pl30, .ph30,
.pa30 {
  padding-left: 30px; }

.mt30, .mv30,
.ma30 {
  margin-top: 30px; }

.mr30, .mh30,
.ma30 {
  margin-right: 30px; }

.mb30, .mv30,
.ma30 {
  margin-bottom: 30px; }

.ml30, .mh30,
.ma30 {
  margin-left: 30px; }

.pt40, .pv40,
.pa40 {
  padding-top: 40px; }

.pr40, .ph40,
.pa40 {
  padding-right: 40px; }

.pb40, .pv40,
.pa40 {
  padding-bottom: 40px; }

.pl40, .ph40,
.pa40 {
  padding-left: 40px; }

.mt40, .mv40,
.ma40 {
  margin-top: 40px; }

.mr40, .mh40,
.ma40 {
  margin-right: 40px; }

.mb40, .mv40,
.ma40 {
  margin-bottom: 40px; }

.ml40, .mh40,
.ma40 {
  margin-left: 40px; }

.pt50, .pv50,
.pa50 {
  padding-top: 50px; }

.pr50, .ph50,
.pa50 {
  padding-right: 50px; }

.pb50, .pv50,
.pa50 {
  padding-bottom: 50px; }

.pl50, .ph50,
.pa50 {
  padding-left: 50px; }

.mt50, .mv50,
.ma50 {
  margin-top: 50px; }

.mr50, .mh50,
.ma50 {
  margin-right: 50px; }

.mb50, .mv50,
.ma50 {
  margin-bottom: 50px; }

.ml50, .mh50,
.ma50 {
  margin-left: 50px; }

/*/////////// link ////////////*/
a {
  color: #444444;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #777777; }

a:link {
  color: #333333; }

a:visited {
  color: #333333; }

a:hover {
  color: #f45145; }

a:hover img {
  opacity: 0.7; }

/* not transparence

a:hover img{
  	opacity: 1;
}

*/
/*/////////// clear ////////////*/
.clear {
  clear: both; }

/* clearfix css */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  min-height: 1px; }

* html .clearfix {
  height: 1px;
  /*¥*/
                  /*/
height: auto;
overflow: hidden; /**/ }

/*/////////// front-page ////////////*/
/*/////////// flow-page ////////////*/
.flow_steps_bg {
  background: transparent url("../img/under/flow_steps_bg.jpg") no-repeat 0 0 scroll;
  height: 250px;
  padding: 60px 20px 0px; }
  .flow_steps_bg p {
    margin-bottom: 15px; }
  .flow_steps_bg ul {
    list-style: none;
    float: right; }
    .flow_steps_bg ul li {
      display: inline; }

/*/////////// company-page ////////////*/
.company-text {
  text-align: justify; }

.company-table-content, .history-table-content {
  margin-bottom: 40px;
  border-collapse: collapsed;
  width: 100%; }
  .company-table-content tr th, .history-table-content tr th, .company-table-content tr td, .history-table-content tr td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left; }
  .company-table-content tr th, .history-table-content tr th {
    width: 15%;
    background-color: #f4f4f4;
    font-weight: normal; }

/*/////////// faq-page ////////////*/
#faq1 .faq1-content {
  padding: 0px 20px; }
  #faq1 .faq1-content .faq1-row .faq1-row-content {
    padding: 0px 0px 30px 20px; }

/*/////////// contact-page ////////////*/
.contact-content {
  background-color: #E8EEF9;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  line-height: 40px;
  margin-bottom: 20px;
  cursor: pointer; }
  .contact-content .contact-title {
    color: #595858; }
    .contact-content .contact-title .contact-alert {
      padding: 5px;
      background-color: #ff8080;
      color: white;
      margin: 5px;
      font-weight: normal; }

.contact-content:last-child {
  margin-top: 0; }

.contact-content:hover {
  background-color: #FFEEEE; }

/* wpcf7 */
.wpcf7 input, .wpcf7 select, .wpcf7 textarea {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  font-size: 15px;
  line-height: normal; }
.wpcf7 .wpcf7-validation-errors, .wpcf7 .wpcf7-not-valid-tip {
  color: #fff;
  padding: 8px 12px 6px;
  position: relative;
  display: block;
  background-color: #f00;
  left: 0;
  top: 8px;
  margin-bottom: 8px;
  clear: both;
  border-radius: 5px;
  border: none; }
.wpcf7 .require {
  color: #F66; }
.wpcf7 .contact-btn {
  text-align: center;
  margin: 20px 0; }
.wpcf7 .wpcf7-confirm {
  background-color: #00a0e9;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: arial;
  font-size: 18px;
  padding: 10px 0;
  text-shadow: 0px 1px 0px #154682; }
.wpcf7 table {
  font-size: 13px;
  width: 100%;
  margin: 20px auto 0 auto;
  border: 1px solid #cccccc; }
  .wpcf7 table input {
    margin: 3px 0px;
    font-size: 13px;
    line-height: 13px; }
  .wpcf7 table tr th, .wpcf7 table td {
    border: 1px solid #cccccc; }
  .wpcf7 table th {
    max-width: 100%;
    text-align: left;
    background: #eee;
    padding: 10px;
    vertical-align: middle; }
  .wpcf7 table td {
    padding: 10px;
    vertical-align: middle; }

/*-----  page-blog  ----*/
.post-row-content .blog-btnrm {
  float: right; }
  .post-row-content .blog-btnrm a {
    padding: 5px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #444444;
    color: white; }
  .post-row-content .blog-btnrm a:hover {
    padding: 5px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #444444;
    border: 1px solid #444444; }
.post-row-content .post-row-meta .fa {
  padding: 0 5px 0 20px; }
.post-row-content .post-row-meta .fa:first-child {
  padding-right: 5px;
  padding-left: 0; }
.post-row-content .post-row-meta .blog-category a {
  color: #444444; }
.post-row-content .blog-content {
  margin-top: 5px; }

.navigation {
  margin-top: 15px; }
  .navigation a {
    color: #444444; }
  .navigation a:hover {
    color: #333333; }

.wp-pagenavi {
  margin-top: 40px;
  text-align: center; }
  .wp-pagenavi .pages, .wp-pagenavi .previouspostslink, .wp-pagenavi .page, .wp-pagenavi .nextpostslink {
    background-color: #444444;
    color: #fff; }
  .wp-pagenavi span.current {
    border-color: #444444 !important; }

/*/////////// pallet-page ////////////*/
.pallet-main1 .pallet-main1-img {
  text-align: center;
  margin-bottom: 20px; }
.pallet-main1 .pallet-main1-text1, .pallet-main1 .pallet-main1-text2, #wrapper.md .pallet-main1 .pallet-main1-text2, #wrapper.sm .pallet-main1 .pallet-main1-text2, #wrapper.xs .pallet-main1 .pallet-main1-text2 {
  text-align: center;
  color: #00a0e9;
  font-size: 28px;
  font-weight: bold; }
.pallet-main1 .pallet-main1-text2 {
  padding-top: 30px;
  font-size: 48px; }
.pallet-main1 .pallet-main1-text3 {
  text-align: center;
  padding: 35px 0 20px;
  line-height: 1.8em; }

.pallet-title {
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px dotted #7f7f7f;
  color: #00a0e9;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold; }

.pallet-main2 .pallet-main2-point {
  color: #00a0e9;
  display: inline-block;
  padding-right: 20px;
  font-size: 25px;
  border-bottom: 2px solid #00a0e9;
  font-family: 'Share Tech Mono';
  margin-bottom: 10px; }
.pallet-main2 .pallet-main2-title {
  text-align: left;
  padding: 5px 0 10px;
  font-size: 20px;
  font-weight: bold; }
.pallet-main2 .pallet-main2-text {
  line-height: 1.8em;
  text-align: left;
  margin-bottom: 20px;
  padding: 0px 5px; }

.pallet-main3 .pallet-main3-img {
  text-align: center; }
.pallet-main3 .pallet-main3-title {
  text-align: center;
  text-shadow: 0 1px white;
  padding: 0 5px;
  margin: 10px 0;
  color: #00a0e9;
  font-size: 16px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  line-height: 29px; }
.pallet-main3 .pallet-main3-text {
  line-height: 1.8em;
  text-align: center;
  margin-bottom: 20px;
  padding: 0px 5px; }

/*/////////// pladan-page ////////////*/
.pladan-main1 .pladan-main1-img {
  text-align: center;
  margin-bottom: 20px; }
.pladan-main1 .pladan-main1-text1, .pladan-main1 .pladan-main1-text2, #wrapper.md .pladan-main1 .pladan-main1-text2, #wrapper.sm .pladan-main1 .pladan-main1-text2, #wrapper.xs .pladan-main1 .pladan-main1-text2 {
  text-align: center;
  color: #00a0e9;
  font-size: 28px;
  font-weight: bold; }
.pladan-main1 .pladan-main1-text2 {
  padding-top: 30px;
  font-size: 48px; }
.pladan-main1 .pladan-main1-text3 {
  text-align: center;
  padding: 35px 0 20px;
  line-height: 1.8em; }

.pladan-title {
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px dotted #7f7f7f;
  color: #00a0e9;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold; }

.pladan-main2 {
  margin-left: 0;
  margin-bottom: 30px; }
  .pladan-main2 .pladan-main2-point {
    color: #00a0e9;
    display: inline-block;
    font-size: 25px;
    border-bottom: 2px solid #00a0e9;
    font-family: 'Share Tech Mono';
    padding-left: 0px !important; }
  .pladan-main2 .pladan-main2-text {
    padding-left: 20px !important;
    font-size: 20px; }

.pladan-main3 .pladan-main3-img {
  text-align: center; }
.pladan-main3 .pladan-main3-title {
  text-align: center;
  text-shadow: 0 1px white;
  padding: 0 5px;
  margin: 10px 0;
  color: #00a0e9;
  font-size: 16px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  line-height: 29px; }
.pladan-main3 .pladan-main3-text {
  line-height: 1.8em;
  text-align: center;
  margin-bottom: 20px;
  padding: 0px 5px;
  font-size: 12px; }

/*/////////// workshop-page ////////////*/
.workshop-main1 .workshop-main1-img {
  text-align: center;
  margin-bottom: 20px; }
.workshop-main1 .workshop-main1-title {
  text-align: center;
  color: #00a0e9;
  padding-top: 20px;
  font-size: 48px;
  font-weight: bold; }
.workshop-main1 .workshop-main1-text1 {
  text-align: center;
  padding-top: 30px;
  line-height: 1.8em; }

.workshop-title1 {
  color: #00a0e9;
  font-size: 30px;
  margin-bottom: 25px; }

.workshop-text1, .workshop-text2 {
  line-height: 1.8em;
  margin-bottom: 20px; }

.workshop-title2 {
  padding: 8px 0;
  text-shadow: 0 1px white;
  color: #00a0e9;
  font-size: 16px;
  margin: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }

.workshop-slider-title {
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px dotted #7f7f7f;
  color: #00a0e9;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold; }

.workshop-slider img {
  padding: 5px; }

.workshop-map {
  margin-top: 40px; }

/*/////////// strength-page ////////////*/
.strength-title {
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px dotted #7f7f7f;
  color: #00a0e9;
  margin-bottom: 20px;
  line-height: 1.8em;
  font-size: 30px;
  font-weight: bold; }

.strength-top-content {
  margin-bottom: 30px; }
  .strength-top-content .strength-info .strength-top-title {
    text-shadow: 0 1px #ffffff;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f4f4f4;
    border-left: 3px solid #00a0e9;
    font-size: 18px;
    font-weight: bold; }

.strength-content1-bg {
  background-color: #f0efef;
  padding: 70px 0 40px; }

.strength-content1 .strength-content1-img {
  text-align: center; }
.strength-content1 .strength-content1-title {
  text-shadow: 0 1px #ffffff;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 15px;
  background-color: #f4f4f4;
  border-left: 3px solid #00a0e9;
  font-size: 18px;
  font-weight: bold; }
.strength-content1 .strength-content1-text {
  line-height: 1.8em;
  text-align: justify;
  margin-bottom: 20px;
  padding: 0px 5px;
  font-size: 12px; }

.strength-content2 {
  margin-top: 30px; }

.strength-content3 {
  margin-bottom: 30px; }

.strength-content2-text, .strength-content3-text {
  text-align: center;
  line-height: 1.8em;
  padding-bottom: 20px; }

.strength-content2-img, .strength-content3-img {
  padding-bottom: 20px;
  text-align: center; }

/*/////////// greeting-page ////////////*/
.greeting-content .greeting-content-title {
  color: #00a0e9;
  font-weight: bold;
  text-align: center;
  font-size: 48px;
  margin-bottom: 20px; }
.greeting-content .greeting-content-text {
  text-align: center;
  line-height: 1.8em; }

/*/////////// history-page ////////////*/
/*/////////// quality-page ////////////*/
.quality-content2 {
  margin: 10px 0;
  line-height: 1.8em; }

.quality-content3-text .quality-content3-text-space {
  padding-top: 20px;
  line-height: 1.8em; }

/* common css */
body {
  font-size: 14px;
  line-height: 1.5em;
  color: #333333;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: white none no-repeat 0 0 scroll; }

/* reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

#wrapper.lg .container {
  max-width: 960px;
  margin: 0 auto; }

#wrapper.ie .container {
  width: 980px; }

p {
  margin: 0px; }

a:hover {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  #screen_type {
    content: "xs"; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  #screen_type {
    content: "sm"; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #screen_type {
    content: "md"; } }
@media screen and (min-width: 1200px) {
  #screen_type {
    content: "lg"; } }
/*---------------------------------------------------------------
RESPONSIVE LAYOUT
-----------------------------------------------------------------*/
/* header */
#wrapper img {
  max-width: 100%; }

#top-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #FFF; }

#top {
  border-top: 3px solid #00a0e9; }
  #top .top-text {
    line-height: 25px;
    color: #333333;
    font-size: 14px; }

/*-- top --*/
header #header {
  padding: 15px 0; }
  header #header #headerContent .logo {
    float: left; }
    header #header #headerContent .logo img {
      max-width: 100%; }
  header #header #headerContent .header-contact {
    float: right;
    padding-top: 10px; }
    header #header #headerContent .header-contact .headtxt {
      font-size: 11px;
      text-align: right; }
    header #header #headerContent .header-contact .headtel {
      font-size: 24px;
      color: #00a0e9; }
  header #header #headerContent .fa {
    display: none; }
  @media screen and (max-width: 768px) {
    header #header #headerContent .logo {
      float: none; }
    header #header #headerContent .header-contact {
      display: none; }
    header #header #headerContent .fa {
      display: block !important;
      float: right;
      margin-top: 5px;
      padding-right: 20px;
      font-size: 30px;
      color: #00a0e9; } }

/*-- header --*/
#slider-banner {
  padding-top: 169px;
  text-align: center; }

#page-feature {
  padding-top: 169px; }
  #page-feature .page-feature-content {
    text-align: center;
    position: relative; }
    #page-feature .page-feature-content .feature-title {
      position: absolute;
      font-size: 30px;
      text-shadow: 0 1px #333;
      color: white;
      top: -100px; }

#top-breadcrumb {
  line-height: 40px; }
  #top-breadcrumb .home {
    color: #00a0e9;
    text-decoration: underline; }
  #top-breadcrumb a:hover {
    color: #00a0e9;
    text-decoration: none; }

.sub-navi-info {
  border-top: 1px solid #0182bd;
  background-color: #00a0e9; }
  .sub-navi-info .sub-navi {
    margin: 0 auto; }
    .sub-navi-info .sub-navi ul {
      float: left;
      list-style: none;
      margin: 0px;
      padding: 0px; }
      .sub-navi-info .sub-navi ul li {
        float: left;
        background: #00a0e9 url("../img/common/subnavi_line.jpg") 0 0 no-repeat;
        background-position: 0; }
        .sub-navi-info .sub-navi ul li a {
          display: block;
          padding: 25px 0;
          color: white;
          text-align: center;
          font-size: 16px; }
      .sub-navi-info .sub-navi ul > li:hover > a {
        margin-left: 1px;
        color: white;
        background-color: #0090d1; }
      .sub-navi-info .sub-navi ul > li > a.linksub-current {
        margin-left: 1px;
        color: white;
        background-color: #0090d1; }
    .sub-navi-info .sub-navi .sub-navi-space {
      float: left;
      line-height: 71px; }

@media (min-width: 700px) and (max-width: 769px) {
  #wrapper.xs .sub-navi ul {
    margin: 0 auto !important; }

  .sub-navi ul li {
    width: 170px !important; } }
@media (min-width: 620px) and (max-width: 700px) {
  #wrapper.xs .sub-navi ul {
    margin: 0 auto !important; }

  .sub-navi ul li {
    width: 150px !important; } }
@media (min-width: 560px) and (max-width: 620px) {
  #wrapper.xs .sub-navi ul {
    margin: 0 auto !important; }

  .sub-navi ul li {
    width: 135px !important; } }
@media (min-width: 483px) and (max-width: 560px) {
  #wrapper.xs .sub-navi ul {
    margin: 0 auto !important; }

  .sub-navi ul li {
    width: 115px !important; } }
@media (min-width: 423px) and (max-width: 483px) {
  #wrapper.xs .sub-navi ul {
    margin: 0 auto !important; }

  .sub-navi ul li {
    width: 100px !important; }
    .sub-navi ul li a {
      font-size: 12px; } }
@media (min-width: 382px) and (max-width: 423px) {
  #wrapper.xs .sub-navi ul {
    margin: 0 auto !important; }

  .sub-navi ul li {
    width: 90px !important; }

  .sub-navi ul li a {
    font-size: 10px !important; } }
@media (min-width: 320px) and (max-width: 374px) {
  #wrapper.xs .sub-navi ul {
    margin: 0 auto !important; }

  .sub-navi ul li {
    width: 73px !important; }

  .sub-navi ul li a {
    font-size: 10px !important; } }
@media (min-width: 375px) and (max-width: 383px) {
  #wrapper.xs .sub-navi ul {
    margin: 0 auto !important; }

  .sub-navi ul li {
    width: 87px !important; }

  .sub-navi ul li a {
    font-size: 10px !important; } }
@media screen and (min-width: 768px) {
  .sub-navi ul {
    margin: 0 auto !important; }

  .sub-navi ul li {
    width: 179px; } }
@media screen and (min-width: 992px) {
  .sub-navi ul {
    margin: 0 auto !important; }

  .sub-navi ul li {
    width: 234px; } }
@media screen and (min-width: 1200px) {
  .sub-navi ul {
    margin: 0 auto !important; }

  .sub-navi ul li {
    width: 234px; } }
#wrapper.lg, #wrapper.ie, #wrapper.md, #wrapper.sm, #wrapper.xs {
  /* globalNavi */ }
  #wrapper.lg #menu-toggle, #wrapper.ie #menu-toggle, #wrapper.md #menu-toggle, #wrapper.sm #menu-toggle, #wrapper.xs #menu-toggle {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #FFF; }
  #wrapper.lg .globalNavi-bg, #wrapper.ie .globalNavi-bg, #wrapper.md .globalNavi-bg, #wrapper.sm .globalNavi-bg, #wrapper.xs .globalNavi-bg {
    border-bottom: 3px solid #00a0e9;
    padding-bottom: 15px; }
    #wrapper.lg .globalNavi-bg .globalNavi, #wrapper.ie .globalNavi-bg .globalNavi, #wrapper.md .globalNavi-bg .globalNavi, #wrapper.sm .globalNavi-bg .globalNavi, #wrapper.xs .globalNavi-bg .globalNavi {
      margin: 0 auto; }
      #wrapper.lg .globalNavi-bg .globalNavi ul, #wrapper.ie .globalNavi-bg .globalNavi ul, #wrapper.md .globalNavi-bg .globalNavi ul, #wrapper.sm .globalNavi-bg .globalNavi ul, #wrapper.xs .globalNavi-bg .globalNavi ul {
        list-style: none;
        margin: 0px;
        padding: 0px; }
        #wrapper.lg .globalNavi-bg .globalNavi ul li, #wrapper.ie .globalNavi-bg .globalNavi ul li, #wrapper.md .globalNavi-bg .globalNavi ul li, #wrapper.sm .globalNavi-bg .globalNavi ul li, #wrapper.xs .globalNavi-bg .globalNavi ul li {
          float: left;
          position: relative;
          border-left: 1px dotted #333333; }
          #wrapper.lg .globalNavi-bg .globalNavi ul li a, #wrapper.ie .globalNavi-bg .globalNavi ul li a, #wrapper.md .globalNavi-bg .globalNavi ul li a, #wrapper.sm .globalNavi-bg .globalNavi ul li a, #wrapper.xs .globalNavi-bg .globalNavi ul li a {
            display: block;
            padding: 10px;
            color: #333333;
            background: url("../img/top/top_nav_off.png") right bottom no-repeat;
            text-align: center;
            font-size: 16px;
            font-weight: bold; }
          #wrapper.lg .globalNavi-bg .globalNavi ul li ul, #wrapper.ie .globalNavi-bg .globalNavi ul li ul, #wrapper.md .globalNavi-bg .globalNavi ul li ul, #wrapper.sm .globalNavi-bg .globalNavi ul li ul, #wrapper.xs .globalNavi-bg .globalNavi ul li ul {
            background: white none no-repeat 0 0 scroll; }
        #wrapper.lg .globalNavi-bg .globalNavi ul > li:hover > a, #wrapper.ie .globalNavi-bg .globalNavi ul > li:hover > a, #wrapper.md .globalNavi-bg .globalNavi ul > li:hover > a, #wrapper.sm .globalNavi-bg .globalNavi ul > li:hover > a, #wrapper.xs .globalNavi-bg .globalNavi ul > li:hover > a {
          color: white;
          background: url("../img/top/top_nav_on.png") right bottom no-repeat #00a0e9; }
        #wrapper.lg .globalNavi-bg .globalNavi ul > li > a.link-current, #wrapper.ie .globalNavi-bg .globalNavi ul > li > a.link-current, #wrapper.md .globalNavi-bg .globalNavi ul > li > a.link-current, #wrapper.sm .globalNavi-bg .globalNavi ul > li > a.link-current, #wrapper.xs .globalNavi-bg .globalNavi ul > li > a.link-current {
          color: white;
          background: url("../img/top/top_nav_on.png") right bottom no-repeat #00a0e9; }
        #wrapper.lg .globalNavi-bg .globalNavi ul li:last-child, #wrapper.ie .globalNavi-bg .globalNavi ul li:last-child, #wrapper.md .globalNavi-bg .globalNavi ul li:last-child, #wrapper.sm .globalNavi-bg .globalNavi ul li:last-child, #wrapper.xs .globalNavi-bg .globalNavi ul li:last-child {
          border-right: 1px dotted #333333; }
        #wrapper.lg .globalNavi-bg .globalNavi ul ul, #wrapper.ie .globalNavi-bg .globalNavi ul ul, #wrapper.md .globalNavi-bg .globalNavi ul ul, #wrapper.sm .globalNavi-bg .globalNavi ul ul, #wrapper.xs .globalNavi-bg .globalNavi ul ul {
          z-index: 100;
          position: absolute;
          top: 41px;
          display: none; }
          #wrapper.lg .globalNavi-bg .globalNavi ul ul li, #wrapper.ie .globalNavi-bg .globalNavi ul ul li, #wrapper.md .globalNavi-bg .globalNavi ul ul li, #wrapper.sm .globalNavi-bg .globalNavi ul ul li, #wrapper.xs .globalNavi-bg .globalNavi ul ul li {
            border-left: none; }
            #wrapper.lg .globalNavi-bg .globalNavi ul ul li a, #wrapper.ie .globalNavi-bg .globalNavi ul ul li a, #wrapper.md .globalNavi-bg .globalNavi ul ul li a, #wrapper.sm .globalNavi-bg .globalNavi ul ul li a, #wrapper.xs .globalNavi-bg .globalNavi ul ul li a {
              border-bottom: 1px dotted #333333;
              text-align: left;
              font-size: 14px;
              font-weight: normal; }
          #wrapper.lg .globalNavi-bg .globalNavi ul ul li:last-child, #wrapper.ie .globalNavi-bg .globalNavi ul ul li:last-child, #wrapper.md .globalNavi-bg .globalNavi ul ul li:last-child, #wrapper.sm .globalNavi-bg .globalNavi ul ul li:last-child, #wrapper.xs .globalNavi-bg .globalNavi ul ul li:last-child {
            border-right: none; }
          #wrapper.lg .globalNavi-bg .globalNavi ul ul li:first-child, #wrapper.ie .globalNavi-bg .globalNavi ul ul li:first-child, #wrapper.md .globalNavi-bg .globalNavi ul ul li:first-child, #wrapper.sm .globalNavi-bg .globalNavi ul ul li:first-child, #wrapper.xs .globalNavi-bg .globalNavi ul ul li:first-child {
            border-top: 1px solid #ccc; }
        #wrapper.lg .globalNavi-bg .globalNavi ul li:hover ul, #wrapper.ie .globalNavi-bg .globalNavi ul li:hover ul, #wrapper.md .globalNavi-bg .globalNavi ul li:hover ul, #wrapper.sm .globalNavi-bg .globalNavi ul li:hover ul, #wrapper.xs .globalNavi-bg .globalNavi ul li:hover ul {
          display: block; }

@media screen and (min-width: 1200px) {
  .globalNavi ul {
    margin: 0 auto !important; }

  .globalNavi ul li {
    width: 188px; } }
#wrapper.ie .globalNavi ul li {
  width: 188px; }

@media screen and (max-width: 768px) {
  .globalNavi ul {
    margin: 0 auto !important; }

  .globalNavi ul li {
    width: 145px; } }
@media screen and (min-width: 768px) {
  .globalNavi ul {
    margin: 0 auto !important; }

  .globalNavi ul li {
    width: 143px; } }
@media screen and (min-width: 992px) {
  .globalNavi ul {
    margin: 0 auto !important; }

  .globalNavi ul li {
    width: 188px; } }
#wrapper.ie .toggle-btn-wrap, #wrapper.lg .toggle-btn-wrap, #wrapper.md .toggle-btn-wrap, #wrapper.sm .toggle-btn-wrap {
  display: none; }

#content {
  background: white none no-repeat 0 0 scroll;
  margin: 20px 0 30px; }
  #content #primary .primary-row {
    margin-top: 40px; }
    #content #primary .primary-row .primary-row {
      margin-top: 20px; }
  #content #primary .primary-row:first-child {
    margin-top: 0px; }
  #content #primary .top-main1 {
    border: 1px solid #cccccc;
    height: 280px !important; }
    #content #primary .top-main1 .top-main1-title {
      line-height: 40px;
      background-color: #00a0e9;
      font-size: 20px;
      color: white;
      text-align: center; }
    #content #primary .top-main1 .top-main1-img {
      text-align: center;
      padding: 5px; }
    #content #primary .top-main1 .top-main1-text {
      text-align: center;
      padding-bottom: 15px; }
  #content #primary .top-status {
    line-height: 1.5em;
    color: #00a0e9;
    text-align: center;
    font-size: 30px;
    font-weight: bold; }
  #content #primary .top-main2 .top-main2-title {
    text-shadow: 0 1px #ffffff;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f4f4f4;
    border-left: 3px solid #00a0e9;
    font-size: 18px;
    font-weight: bold; }
  #content #primary .top-main2-content {
    border-top: 1px dotted #7f7f7f;
    padding-top: 20px; }
  #content #primary .top-blog {
    text-align: left;
    list-style: none;
    margin: 0 10px;
    padding: 0; }
    #content #primary .top-blog li {
      border-bottom: 1px solid #e3e1d7;
      border-top: 1px solid #e3e1d7;
      display: block;
      height: 70px;
      padding-top: 25px; }
      #content #primary .top-blog li .top-blog-date {
        color: #e28414;
        font-weight: bold;
        margin-left: -10px; }
      #content #primary .top-blog li .fa {
        margin-top: -29px;
        margin-right: 10px;
        float: right;
        font-size: 30px; }
  #content #primary .top-more-blog a {
    float: right;
    text-align: center;
    margin-top: 15px;
    display: inline-block;
    font-size: 11px;
    line-height: 105%;
    background: url("../img/top/top_blog_off.png") right bottom no-repeat #efefef;
    border-left: 4px solid #00a0e9;
    padding: 5px 15px 5px 11px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); }
  #content #primary .top-more-blog a:hover {
    color: white;
    background: url("..img/top/top_blog_on.png") right bottom no-repeat #666666; }
  #content #primary .top-h2 {
    text-shadow: 0 1px white;
    border-top: 1px solid #e5e5e5;
    border-bottom: 3px solid #00a0e9;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold; }
    #content #primary .top-h2 .top-rss a {
      float: right;
      text-align: center;
      border: 1px solid #e6e6e6;
      font-family: 'Lato', sans-serif;
      padding: 2px 8px;
      box-shadow: inset 0 1px 0px white;
      background: linear-gradient(to bottom, #fcfcfc, #efefef);
      /* IE10, Firefox 16.0+, Opera 12.50+ */
      background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fcfcfc), to(#efefef));
      background: -moz-linear-gradient(#fcfcfc, #efefef);
      background: linear-gradient(#fcfcfc, #efefef);
      -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fcfcfc, EndColorStr=#efefef)"; }
    #content #primary .top-h2 .top-rss a:hover {
      color: #333333;
      box-shadow: inset 0 1px 0px white;
      background: linear-gradient(to bottom, #fcfcfc, #d5e9cc);
      /* IE10, Firefox 16.0+, Opera 12.50+ */
      background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fcfcfc), to(#d5e9cc));
      background: -moz-linear-gradient(#fcfcfc, #d5e9cc);
      background: linear-gradient(#fcfcfc, #d5e9cc);
      -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fcfcfc, EndColorStr=#d5e9cc)"; }
  #content #primary .h3-title {
    text-shadow: 0 1px white;
    border-top: 1px solid #e5e5e5;
    border-bottom: 3px solid #00a0e9;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold; }
  #content #primary .top-main3 {
    background: url("../img/top/top_main3_img.jpg") repeat-x 50% 0;
    height: 450px;
    text-align: center;
    color: white; }
    #content #primary .top-main3 .top-main3-content {
      height: 450px;
      background-color: rgba(51, 51, 51, 0.6); }
      #content #primary .top-main3 .top-main3-content .top-main3-title {
        padding-top: 180px;
        font-size: 30px; }
      #content #primary .top-main3 .top-main3-content .top-main3-text {
        padding-top: 40px; }
  #content #primary .top-main4 {
    margin: 0px auto;
    background: url("../img/top/top_main4_bg.jpg") 0 0 no-repeat;
    height: 400px;
    background-size: cover;
    text-align: center;
    color: white; }
    #content #primary .top-main4 .top-main4-title {
      padding-top: 60px;
      font-size: 30px; }
    #content #primary .top-main4 .top-main4-text {
      padding: 20px 0 30px; }
    #content #primary .top-main4 img {
      padding: 0px;
      border-top: 6px solid rgba(0, 0, 0, 0.6);
      border-bottom: 6px solid rgba(0, 0, 0, 0.6);
      border-right: 3px solid rgba(0, 0, 0, 0.6);
      border-left: 3px solid rgba(0, 0, 0, 0.6);
      width: 240px;
      height: 160px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      overflow: hidden; }
  #content #primary .top-redmore {
    float: right;
    padding: 5px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc; }
  #content #primary .wpcf7 input,
  #content #primary .wpcf7 select,
  #content #primary .wpcf7 textarea {
    width: 100%; }
  #content #primary .wpcf7c-btn-confirm {
    width: 50% !important; }
  #content #primary .wpcf7-submit, #content #primary .wpcf7c-btn-back {
    width: 45% !important; }

/* end content */
#wrapper.lg .top-blog li, #wrapper.md .top-blog li {
  padding-top: 25px !important; }

#wrapper.sm .top-blog li, #wrapper.xs .top-blog li {
  padding-top: 15px !important; }
  #wrapper.sm .top-blog li .top-blog-date, #wrapper.xs .top-blog li .top-blog-date {
    color: #e28414;
    font-weight: bold;
    margin-left: -10px; }
  #wrapper.sm .top-blog li .top-blog-title, #wrapper.xs .top-blog li .top-blog-title {
    margin-left: -10px; }
  #wrapper.sm .top-blog li .fa, #wrapper.xs .top-blog li .fa {
    margin-top: -40px !important;
    margin-right: 10px;
    float: right;
    font-size: 30px; }

#wrapper.md, #wrapper.sm, #wrapper.xs {
  /*-------  top-page ------*/
  /*-------  pallet-page  ------*/
  /*-------  pladan-page  ------*/
  /*-------  strength-page  ------*/
  /*-------  greeting-page  ------*/
  /*-------  workshop-page  ------*/ }
  #wrapper.md .top-main4, #wrapper.sm .top-main4, #wrapper.xs .top-main4 {
    margin: 0px auto;
    background: url("../img/top/top_main4_bg.jpg") 0 0 no-repeat;
    height: 240px !important;
    background-size: cover;
    text-align: justify;
    color: white; }
    #wrapper.md .top-main4 .top-main4-title, #wrapper.sm .top-main4 .top-main4-title, #wrapper.xs .top-main4 .top-main4-title {
      padding-top: 15px !important;
      font-size: 16px !important; }
    #wrapper.md .top-main4 .top-main4-text, #wrapper.sm .top-main4 .top-main4-text, #wrapper.xs .top-main4 .top-main4-text {
      padding: 10px 0 5px !important; }
    #wrapper.md .top-main4 .top-main-slider, #wrapper.sm .top-main4 .top-main-slider, #wrapper.xs .top-main4 .top-main-slider {
      margin: 0 auto; }
    #wrapper.md .top-main4 img, #wrapper.sm .top-main4 img, #wrapper.xs .top-main4 img {
      padding: 0px;
      border-top: 6px solid rgba(0, 0, 0, 0.6);
      border-bottom: 6px solid rgba(0, 0, 0, 0.6);
      border-right: 3px solid rgba(0, 0, 0, 0.6);
      border-left: 3px solid rgba(0, 0, 0, 0.6);
      width: 140px !important;
      height: 93px !important;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      overflow: hidden; }
  #wrapper.md .top-main3, #wrapper.sm .top-main3, #wrapper.xs .top-main3 {
    background: url("../img/top/top_main3_img_sm.jpg") no-repeat 0 0 scroll !important;
    height: 254px !important;
    background-size: cover !important;
    color: white; }
    #wrapper.md .top-main3 .top-main3-content, #wrapper.sm .top-main3 .top-main3-content, #wrapper.xs .top-main3 .top-main3-content {
      height: 254px !important;
      background-color: rgba(51, 51, 51, 0.6); }
      #wrapper.md .top-main3 .top-main3-content .top-main3-title, #wrapper.sm .top-main3 .top-main3-content .top-main3-title, #wrapper.xs .top-main3 .top-main3-content .top-main3-title {
        text-align: center;
        padding-top: 20px !important;
        font-size: 18px !important; }
      #wrapper.md .top-main3 .top-main3-content .top-main3-text, #wrapper.sm .top-main3 .top-main3-content .top-main3-text, #wrapper.xs .top-main3 .top-main3-content .top-main3-text {
        text-align: justify !important;
        padding-top: 15px !important;
        font-size: 13px !important; }
  #wrapper.md .pallet-main1 .pallet-main1-text1, #wrapper.md .pallet-main1 .pallet-main1-text2, #wrapper.sm .pallet-main1 .pallet-main1-text1, #wrapper.sm .pallet-main1 .pallet-main1-text2, #wrapper.xs .pallet-main1 .pallet-main1-text1, #wrapper.xs .pallet-main1 .pallet-main1-text2 {
    text-align: center;
    color: #00a0e9;
    font-size: 16px;
    font-weight: bold; }
  #wrapper.md .pallet-main1 .pallet-main1-text2, #wrapper.sm .pallet-main1 .pallet-main1-text2, #wrapper.xs .pallet-main1 .pallet-main1-text2 {
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold; }
  #wrapper.md .pallet-main1 .pallet-main1-text3, #wrapper.sm .pallet-main1 .pallet-main1-text3, #wrapper.xs .pallet-main1 .pallet-main1-text3 {
    text-align: center;
    padding: 20px 0 10px; }
  #wrapper.md .pallet-title, #wrapper.sm .pallet-title, #wrapper.xs .pallet-title {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px dotted #7f7f7f;
    color: #00a0e9;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold; }
  #wrapper.md .pladan-main1 .pladan-main1-text1, #wrapper.md .pladan-main1 .pladan-main1-text2, #wrapper.sm .pladan-main1 .pladan-main1-text1, #wrapper.sm .pladan-main1 .pladan-main1-text2, #wrapper.xs .pladan-main1 .pladan-main1-text1, #wrapper.xs .pladan-main1 .pladan-main1-text2 {
    text-align: center;
    color: #00a0e9;
    font-size: 16px;
    font-weight: bold; }
  #wrapper.md .pladan-main1 .pladan-main1-text2, #wrapper.sm .pladan-main1 .pladan-main1-text2, #wrapper.xs .pladan-main1 .pladan-main1-text2 {
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold; }
  #wrapper.md .pladan-main1 .pladan-main1-text3, #wrapper.sm .pladan-main1 .pladan-main1-text3, #wrapper.xs .pladan-main1 .pladan-main1-text3 {
    text-align: center;
    padding: 20px 0 10px; }
  #wrapper.md .pladan-title, #wrapper.sm .pladan-title, #wrapper.xs .pladan-title {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px dotted #7f7f7f;
    color: #00a0e9;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold; }
  #wrapper.md .strength-content1-bg, #wrapper.sm .strength-content1-bg, #wrapper.xs .strength-content1-bg {
    padding: 40px 0 20px; }
  #wrapper.md .strength-title, #wrapper.sm .strength-title, #wrapper.xs .strength-title {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px dotted #7f7f7f;
    color: #00a0e9;
    margin-bottom: 20px;
    line-height: 1.5em;
    font-size: 24px;
    font-weight: bold; }
  #wrapper.md .greeting-content .greeting-content-title, #wrapper.sm .greeting-content .greeting-content-title, #wrapper.xs .greeting-content .greeting-content-title {
    font-size: 24px; }
  #wrapper.md .workshop-main1 .workshop-main1-title, #wrapper.md .workshop-slider-title, #wrapper.sm .workshop-main1 .workshop-main1-title, #wrapper.sm .workshop-slider-title, #wrapper.xs .workshop-main1 .workshop-main1-title, #wrapper.xs .workshop-slider-title {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px dotted #7f7f7f;
    color: #00a0e9;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold; }

#wrapper.md #page-feature, #wrapper.sm #page-feature {
  padding-top: 169px; }
  #wrapper.md #page-feature .page-feature-content, #wrapper.sm #page-feature .page-feature-content {
    position: relative; }
    #wrapper.md #page-feature .page-feature-content .feature-title, #wrapper.sm #page-feature .page-feature-content .feature-title {
      position: absolute;
      font-size: 25px;
      text-shadow: 0 1px #333;
      color: white;
      top: -65px !important; }
#wrapper.md #content #primary img, #wrapper.sm #content #primary img {
  max-width: 100%; }
#wrapper.md #content #primary .primary-row:first-child, #wrapper.sm #content #primary .primary-row:first-child {
  margin-top: 0px; }
#wrapper.md #content #primary .top-status, #wrapper.sm #content #primary .top-status {
  font-size: 20px !important; }
#wrapper.md #content #primary .company-table-content tr th, #wrapper.md #content #primary .history-table-content tr th, #wrapper.sm #content #primary .company-table-content tr th, #wrapper.sm #content #primary .history-table-content tr th {
  width: 20% !important; }
#wrapper.md #content #primary .message-row .message-col, #wrapper.sm #content #primary .message-row .message-col {
  text-align: center;
  float: left;
  margin-bottom: 20px; }

#wrapper.xs #page-feature .page-feature-content {
  position: relative; }
  #wrapper.xs #page-feature .page-feature-content .feature-title {
    position: absolute;
    font-size: 18px;
    text-shadow: 0 1px #333;
    color: white;
    top: -45px; }
#wrapper.xs #content #primary img {
  max-width: 100%; }
#wrapper.xs #content #primary .primary-row:first-child {
  margin-top: 0px; }
#wrapper.xs #content #primary .top-status {
  font-size: 15px !important; }
#wrapper.xs #content #primary .message-row .message-col {
  text-align: center;
  float: left;
  margin-bottom: 20px; }

#footer {
  background-color: #00a0e9;
  padding: 20px 0;
  color: white;
  text-align: center; }
  #footer .footer-title {
    font-size: 20px;
    font-weight: bold; }
  #footer .footer-info {
    margin-top: 20px;
    line-height: 1.5em; }

/*------------------------------------*\
    Flaunt JS Navigation
\*------------------------------------*/
.nav {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: bold; }

.nav-list {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  border-top: 2px solid #00a0e9; }

.nav-item {
  float: left;
  *display: inline;
  zoom: 1;
  position: relative;
  background: white; }

.nav-item a {
  color: #333333;
  display: block;
  padding: 10px;
  border-bottom: 1px dotted #333333;
  background: url("../img/top/top_nav_off.png") right bottom no-repeat; }

.nav-item > a:hover {
  color: white;
  background: url("../img/top/top_nav_on.png") right bottom no-repeat #00a0e9; }

.nav-item:hover .nav-submenu {
  display: block; }

/* Navigation submenu */
.nav-submenu {
  list-style: none;
  display: none;
  position: absolute;
  left: 0;
  width: 180px; }

.nav-submenu-item {
  background: white; }

.nav-submenu-item a {
  color: #333333;
  display: block;
  padding-left: 30px;
  background: url("../img/top/top_nav_off.png") right bottom no-repeat;
  border-bottom: none; }

.nav-submenu-item a:hover {
  background: url("../img/top/top_nav_on.png") right bottom no-repeat #00a0e9;
  color: white; }

li.nav-submenu-item:last-child {
  border-bottom: 1px dotted #333333; }

/* Mobile navigation */
.nav-mobile {
  display: none;
  /* Hide from browsers that don't support media queries */
  cursor: pointer;
  position: absolute;
  top: -38px;
  right: 10px;
  background: #00a0e9 url(../img/common/nav.svg) no-repeat center center;
  background-size: 18px;
  height: 35px;
  width: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/* Mobile navigation, clickable area for revealing <ul> */
.nav-click {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  height: 41px;
  width: 41px;
  cursor: pointer;
  background-color: #00a0e9; }

.nav-click i {
  display: block;
  height: 41px;
  width: 41px;
  background: url("../img/common/drop.svg") no-repeat center center;
  background-size: 12px; }

.nav-click:hover {
  background-color: #00a0e9; }

.nav-rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.nav-itemclr {
  background-color: #00a0e9; }

.nav-itemclr-a {
  color: white !important;
  cursor: pointer; }

#right-menu {
  display: none; }

/*------------------------------------*\
    Media Queries
\*------------------------------------*/
@media only screen and (max-width: 768px) {
  .top-main1 {
    margin-bottom: 20px; }

  #top-header {
    position: relative; }

  #slider-banner, #page-feature {
    padding-top: 0 !important; }

  .top-main2-infotext, .strength-top-infotext {
    width: 100%;
    text-align: left;
    margin-bottom: 20px; }

  .top-main2-infoimg, .strength-top-infoimg {
    width: 100%;
    text-align: center; }

  .quality-content1-text, .quality-content3-text {
    width: 100%;
    text-align: left; }

  .quality-content1-img, .quality-content3-img {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; }

  /*----- page-pallet ----*/
  .pallet-main2-sm {
    width: 100%; }
    .pallet-main2-sm .pallet-main2 .pallet-main2-point {
      min-width: 100% !important; }
    .pallet-main2-sm .pallet-main2 .pallet-main2-title {
      width: 100%; }
    .pallet-main2-sm .pallet-main2 .pallet-main2-text {
      width: 100%; }

  .pallet-main3-sm {
    width: 100%; }
    .pallet-main3-sm .pallet-main3 .pallet-main3-img {
      min-width: 100%; }
    .pallet-main3-sm .pallet-main3 .pallet-main3-title {
      width: 100%; }
    .pallet-main3-sm .pallet-main3 .pallet-main3-text {
      width: 100%; }

  /*----- page-pladan ----*/
  .pladan-main2 {
    width: 100%; }
    .pladan-main2 .pladan-main2-point {
      width: 15% !important;
      margin-bottom: 10px; }
    .pladan-main2 .pladan-main2-text {
      width: 100%;
      padding-left: 0 !important; }

  .pladan-main3-sm {
    width: 100%; }
    .pladan-main3-sm .pallet-main3 .pallet-main3-img {
      min-width: 100%; }
    .pladan-main3-sm .pallet-main3 .pallet-main3-title {
      width: 100%; }
    .pladan-main3-sm .pallet-main3 .pallet-main3-text {
      width: 100%; }

  /*----- page-pladan ----*/
  .strength-content1-sm {
    width: 100%; }
    .strength-content1-sm .strength-content1 .strength-content1-img {
      min-width: 100%; }
    .strength-content1-sm .strength-content1 .strength-content1-title {
      width: 100%; }
    .strength-content1-sm .strength-content1 .strength-content1-text {
      width: 100%; }

  /*----- page-company ----*/
  .company-table-content, .history-table-content {
    width: 100%; }
    .company-table-content tr th, .history-table-content tr th, .company-table-content tr td, .history-table-content tr td {
      border-top: none !important;
      text-align: left;
      display: block; }
    .company-table-content tr th, .history-table-content tr th {
      width: 100% !important; }
    .company-table-content tr:first-child th, .history-table-content tr:first-child th {
      border-top: 1px solid #ddd !important; } }
@media only screen and (min-width: 768px) {
  #top-mobile {
    display: none; } }
@media all and (max-width: 768px) {
  nav #menu-toggle {
    display: none; }

  .top {
    display: none; } }
@media all and (min-width: 768px) {
  .nav {
    display: none; }

  .top {
    display: none; } }
@media only screen and (max-width: 768px) {
  #right-menu {
    display: block;
    float: right; }

  nav #menu-toggle {
    display: none; }

  #top {
    display: none; }

  .nav-mobile {
    display: block; }

  .nav {
    float: right;
    width: 100%; }

  .nav-list {
    display: none;
    padding-left: 0; }

  .nav-item {
    width: 100%;
    float: none; }

  .nav-item > a {
    padding: 10px; }

  .nav-click {
    display: block; }

  .nav-mobile-open {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0; }

  .nav-item:hover .nav-submenu {
    display: none; }

  .nav-submenu {
    position: static;
    width: 100%;
    padding-left: 0; } }
@media only screen and (max-width: 500px) {
  .top-main1 .top-main1-title {
    font-size: 15px !important; }

  #page-feature .page-feature-content {
    position: relative; }
    #page-feature .page-feature-content .feature-title {
      position: absolute;
      font-size: 15px !important;
      text-shadow: 0 1px #333;
      color: white;
      top: -30px !important; } }
